@use '../../../styles' as *;

.a4-container {
    @include align-start;
    min-height: 100vh;
    background: $background-light;
    padding: $spacing-4xl $spacing-2xl;

    &__paper {
        width: 100%;
        max-width: $a4-width;
        background: $background-white;
        box-shadow: $shadow-lg;

        @include tablet {
            box-shadow: none;
        }
    }

    @include tablet {
        padding: 0;
        background: $background-white;
    }

    @include print {
        padding: 0;
        background: $background-white;
        min-width: auto;

        &__paper {
            box-shadow: none;
            width: $a4-width;
            max-width: none;
        }
    }
}